@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.signup{
    display:flex;
    flex-direction: column;
    min-width: 90%;
    object-fit: contain;
}

.container__signuppage{
    display: flex;
    flex-direction: row;
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
}

.center__signuppage{
    position: relative;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.85em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0.5em 15em;
}

.pages__signuppage{
    padding: 0.5em 1.0em;
    cursor: pointer;
}

.left__signuppage{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.5em;
}

.left__signuppage img{
    object-fit: contain;
    width: 70%;
}
.lefthand__signuppage{
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    padding: 0.5em 0.5em;
}

.login__signuppage{
    border-radius: 0.4em;
    background-color: black; 
    justify-content: center;
    padding: 0.5em 0.9em;
    position: relative;
}

.login__signuppage a{
    color: white;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 1em;
    font-weight: 700;
}

.righthand__signuppage{
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    padding: 0.5em 0.5em;
}

.signup__signuppage {
    border-radius: 0.4em;
    background-color:#FFC107; 
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.9em;
}


.signup__signuppage a{
    color: white;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 1em;
    font-weight: 700;
}

.signup__word{
    position: relative;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    height: 7em;
    letter-spacing: 0.09em;
}

.ring5__signup{
    position: absolute;
    margin-top: -26%;
    max-width: 1em;
    margin-left: -12em;
}

.ring5__signup img{
    width: 12em;
}

.outer__box{
    display: flex;
    flex-direction: row;
}

.login__box{
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background: #171717;
    border-radius: 0em 1em 1em 0em;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    padding: 9em 4em;
    text-align: center;
}

.picture__box{
    min-height: 200%;
    border-radius: 1em 0em 0em 1em;
    align-items: center;
    width: 50%;
    box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 8.5em 4em;
    background-color: #FCFAFA;
}

.picture__box img{
    position: relative;  
    max-width: 70%;
    max-height: 100%; 
}

.login__box input{
    background-color: #171717;
    border-radius: 1em;
    width: 100%;
    padding: 1em 1em;
    border-color: #FFC107;
    color: #FCFAFA;
}

.button{
    width: 100%;
}

.button button{
    width: 110%;
    background-color: #FFC107;
    border-radius: 1em;
    padding: 1em 1em;
    color: #FCFAFA;
}

.login__box p{
    color: #FCFAFA;
    font-size: 0.8em;
}

.user_name{
    margin-bottom: 1.5em;
    width: 100%;
}

.pass_word{
    margin-bottom: 2em;
    width: 100%;
}

.forgot__password{
    position: absolute;
    margin-top: 14em;
    margin-right: -14em;
}
.forgot__password p{
    color: #FCFAFA;
    opacity: 0.4;
    text-align: left;
    font-family: 'Inter';
}

.open__account{
    position: absolute;
    margin-top: 22em;
    margin-right: -1em;
}

.open__account p{
    color: #FCFAFA;
    font-weight: 400;
}

.open__account span{
    color: #FFC107;
    font-family: "Inter";
    font-weight: 700;
}

.continue{
    position: absolute;
    margin-top: -20em;
}

.eye img{
    position: absolute;
    margin-top: -2.5em;
    margin-left: 7em;

}

/*Register*/
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0em;
    margin-bottom: 2em;
}

.registerContainer{
    display: flex;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 1em;
}

/* Left hand Container */

.leftRegisterContainer{
    flex: 1;
}

.leftRegisterContainer > p{
    font-family: "Inter";
    color: #ffc107;
    font-size: 1em;
    text-align: center;
    margin: 2em 0;
    font-size: 400;
}

.leftRegisterContainer > img{
    height: 70%;
    width: 70%;
}

/* Right Hand Section */

.rightRegisterContainer{
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 0em 1em 1em 0em;
    padding: 2em;
}

.rightRegisterContainer > form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}

form > input{
    width: 400px;
    height: 2em;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid #ffc107;
    background-color: transparent;
    outline: none; 
    color: white;
    font-size: 16px;
    font-family: "Inter";
}

.button__signup {
    padding: 1em;
    color: white;
    cursor: pointer;
    background-color: #ffc107;
    border: none;
    border-radius: 10px;
    width: 430px;
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 16px;
    font-family: "Inter";
}

.rightRegisterContainer p{
    color: white;
    margin-top: 1em;
    font-family: "Inter";
    font-weight: 700;
    font-size: 0.9em;
}

.rightRegisterContainer span{
    color: #FFC107;
    cursor: pointer;
    font-weight: 400;
}